<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width">
        <link href="{$basePath}/style.css" rel="stylesheet" type="text/css" />
        <link rel="icon" href="maturita_gif.gif" type="image/gif" >
        <title>{ifset title}{include title|stripHtml} | {/ifset}Maturita</title>
    </head>

    <body>
        <div class="menu"><a n:href="Homepage:default"><button>home</button></a>
            <a n:href="Addproject:Add"n:if="$user->isInRole('student')"><button>add project</button></a>
            {if $user->isLoggedIn()}
                <a n:href="Logout:"><button>logout</button></a>
            {else}
                <a n:href="Login:login"><button>login</button></a>
            {/if}
                <a n:href="Login:register" n:if="$user->isInRole('administrator')"><button>register new user</button></a>
        </div>

        {include content}

        {block scripts}
        <script src="https://nette.github.io/resources/js/netteForms.min.js"></script>
        {/block}
    </body>
</html>