<html>
    <head>
        <title>Zapomenuté heslo</title>
    </head>
 
    <body>
      <p>Někdo (doufáme, že vy) požádal o změnu přihlašovacího hesla na webu {$sitename}. Pokud si opravdu přejete
          změnit heslo, klikněte na odkaz níže a následujte instrukce.</p>
      <p><a n:href="//Login:recoverpassword, username => $username, token => $token">Vygenerovat nové heslo</a></p>
    </body>
</html>