{* Latte template *}

{block content}
{if $user->isInRole('administrator')}
    <div>
        jsi administrator
    </div>
{elseif $user->isInRole('teacher')}
    <div>
        jsi ucitel
    </div>
{elseif $user->isInRole('student')}
    <div>
        jsi student
    </div>
{else}
    <div>
        jsi guest
    </div>
{/if}