parameters:


application:
	errorPresenter: Error
	mapping:
		*: App\*Module\Presenters\*Presenter


session:
	expiration: 1 days


services:
	authenticator: MyAuthenticator
	router: App\RouterFactory::createRouter
	- App\Model\SignNewPassFormFactory
#	- Nette\Mail\SmtpMailer