.menu{
    border-bottom: 2px solid black;
    text-align: right;
}
.error{
    background-color: rgba(255,50,50,0.5) !important;
    font-weight: bold !important;
}
.projects-div{
    width: 60%;
    height: available;
    margin: 0 auto;
    /*border: 1px black dashed;*/
}
.projects-div > .project{
    display: block;
    border-bottom: 1px solid black;
    margin: 0 auto;
    text-align: center;
}
.projects-div > .project > .developer,.consultant,.oponent,.year{
    display: inline-block;
    border: 1px solid red;
}
.projects-div > .project > .consultant,.oponent,.year{
    font-size: 14pt;
}