.error{
    background-color: rgba(255,50,50,0.5) !important;
    font-weight: bold !important;
}
.project{
    width: 80%;
    margin: 10px auto;
}
div.add-project{
    width: 60%;
    margin: 0 auto;
}
label{
    position: relative !important;
    

}
li.nav-item.login{
    text-align: left;
} 
div.register-form{
    width: 60%;
    margin: 0 auto;
}
div.login-form{
    width: 60%;
    margin: 0 auto;
}
div.textarea-parent{
    
}