{* Latte template *}

{block content}
<h1 n:block=title>Přihlášení</h1>
{if (!$user->isLoggedIn())}
<div>
    {control loginForm}
</div>
{elseif (!$user->isInRole('guest'))}
    
        <p>
            {ifset $userse}
                {$userse}
                {/ifset}
            prihlasen
        </p>
        <a n:href="Logout:">chces se odhlásit?</a>
{/if}
    